(
    note_map: {
        92 : (x: 0, y: 0), 93 : (x: 1, y: 0), 94 : (x: 2, y: 0), 95 : (x: 3, y: 0), 96 : (x: 4, y: 0), 97 : (x: 5, y: 0), 98 : (x: 6, y: 0), 99 : (x: 7, y: 0),
        84 : (x: 0, y: 1), 85 : (x: 1, y: 1), 86 : (x: 2, y: 1), 87 : (x: 3, y: 1), 88 : (x: 4, y: 1), 89 : (x: 5, y: 1), 90 : (x: 6, y: 1), 91 : (x: 7, y: 1),
        76 : (x: 0, y: 2), 77 : (x: 1, y: 2), 78 : (x: 2, y: 2), 79 : (x: 3, y: 2), 80 : (x: 4, y: 2), 81 : (x: 5, y: 2), 82 : (x: 6, y: 2), 83 : (x: 7, y: 2),
        68 : (x: 0, y: 3), 69 : (x: 1, y: 3), 70 : (x: 2, y: 3), 71 : (x: 3, y: 3), 72 : (x: 4, y: 3), 73 : (x: 5, y: 3), 74 : (x: 6, y: 3), 75 : (x: 7, y: 3),
        60 : (x: 0, y: 4), 61 : (x: 1, y: 4), 62 : (x: 2, y: 4), 63 : (x: 3, y: 4), 64 : (x: 4, y: 4), 65 : (x: 5, y: 4), 66 : (x: 6, y: 4), 67 : (x: 7, y: 4),
        52 : (x: 0, y: 5), 53 : (x: 1, y: 5), 54 : (x: 2, y: 5), 55 : (x: 3, y: 5), 56 : (x: 4, y: 5), 57 : (x: 5, y: 5), 58 : (x: 6, y: 5), 59 : (x: 7, y: 5),
        44 : (x: 0, y: 6), 45 : (x: 1, y: 6), 46 : (x: 2, y: 6), 47 : (x: 3, y: 6), 48 : (x: 4, y: 6), 49 : (x: 5, y: 6), 50 : (x: 6, y: 6), 51 : (x: 7, y: 6),
        36 : (x: 0, y: 7), 37 : (x: 1, y: 7), 38 : (x: 2, y: 7), 39 : (x: 3, y: 7), 40 : (x: 4, y: 7), 41 : (x: 5, y: 7), 42 : (x: 6, y: 7), 43 : (x: 7, y: 7),
    },
    control_map: {
        // Transport
        3  : TapTempo,
        9  : Metronome,
        29 : Stop,
        85 : Play,
        86 : Record,
        89 : Automate,
        90 : FixedLength,

        // Editing
        118: Delete,
        119: Undo,
        35 : Convert,
        117: DoubleLoop,
        116: Quantize,
        88 : Duplicate,
        87 : New,

        // Mixing
        60 : Mute,
        61 : Solo,
        28 : Master,

        // Upper Row (above pads)
        102: UpperRow1,
        103: UpperRow2,
        104: UpperRow3,
        105: UpperRow4,
        106: UpperRow5,
        107: UpperRow6,
        108: UpperRow7,
        109: UpperRow8,

        // Lower Row (below screen)
        20 : LowerRow1,
        21 : LowerRow2,
        22 : LowerRow3,
        23 : LowerRow4,
        24 : LowerRow5,
        25 : LowerRow6,
        26 : LowerRow7,
        27 : LowerRow8,

        // Note Repeater Grid
        43 : Beat1_32t,
        42 : Beat1_32,
        41 : Beat1_16t,
        40 : Beat1_16,
        39 : Beat1_8t,
        38 : Beat1_8,
        37 : Beat1_4t,
        36 : Beat1_4,

        // Mode
        30 : Setup,
        59 : User,
        52 : AddDevice,
        53 : AddTrack,
        110: Device,
        112: Mix,
        111: Browse,
        113: Clip,
        58 : Scale,
        31 : Layout,
        50 : Note,
        51 : Session,

        // Navigation
        46 : Up,
        47 : Down,
        44 : Left,
        45 : Right,
        62 : PageLeft,
        63 : PageRight,
        55 : OctaveUp,
        54 : OctaveDown,

        // Modifiers & Other
        56 : Repeat,
        57 : Accent,
        49 : Shift,
        48 : Select,
    },
    encoder_map: {
        // Top Knobs
        14 : Tempo,
        15 : Swing,
        // 8 Track Knobs
        71 : Track1,
        72 : Track2,
        73 : Track3,
        74 : Track4,
        75 : Track5,
        76 : Track6,
        77 : Track7,
        78 : Track8,
        // Master Knob
        79 : Master,
    },
)
