(
    note_map: {
        92 : (x: 0, y: 0), 93 : (x: 1, y: 0), 94 : (x: 2, y: 0), 95 : (x: 3, y: 0), 96 : (x: 4, y: 0), 97 : (x: 5, y: 0), 98 : (x: 6, y: 0), 99 : (x: 7, y: 0),
        84 : (x: 0, y: 1), 85 : (x: 1, y: 1), 86 : (x: 2, y: 1), 87 : (x: 3, y: 1), 88 : (x: 4, y: 1), 89 : (x: 5, y: 1), 90 : (x: 6, y: 1), 91 : (x: 7, y: 1),
        76 : (x: 0, y: 2), 77 : (x: 1, y: 2), 78 : (x: 2, y: 2), 79 : (x: 3, y: 2), 80 : (x: 4, y: 2), 81 : (x: 5, y: 2), 82 : (x: 6, y: 2), 83 : (x: 7, y: 2),
        68 : (x: 0, y: 3), 69 : (x: 1, y: 3), 70 : (x: 2, y: 3), 71 : (x: 3, y: 3), 72 : (x: 4, y: 3), 73 : (x: 5, y: 3), 74 : (x: 6, y: 3), 75 : (x: 7, y: 3),
        60 : (x: 0, y: 4), 61 : (x: 1, y: 4), 62 : (x: 2, y: 4), 63 : (x: 3, y: 4), 64 : (x: 4, y: 4), 65 : (x: 5, y: 4), 66 : (x: 6, y: 4), 67 : (x: 7, y: 4),
        52 : (x: 0, y: 5), 53 : (x: 1, y: 5), 54 : (x: 2, y: 5), 55 : (x: 3, y: 5), 56 : (x: 4, y: 5), 57 : (x: 5, y: 5), 58 : (x: 6, y: 5), 59 : (x: 7, y: 5),
        44 : (x: 0, y: 6), 45 : (x: 1, y: 6), 46 : (x: 2, y: 6), 47 : (x: 3, y: 6), 48 : (x: 4, y: 6), 49 : (x: 5, y: 6), 50 : (x: 6, y: 6), 51 : (x: 7, y: 6),
        36 : (x: 0, y: 7), 37 : (x: 1, y: 7), 38 : (x: 2, y: 7), 39 : (x: 3, y: 7), 40 : (x: 4, y: 7), 41 : (x: 5, y: 7), 42 : (x: 6, y: 7), 43 : (x: 7, y: 7),
    },
    control_map: {
        // Buttons that send Control Change messages
        29 : Control29,
        20 : Control20,
        21 : Control21,
        24 : Control24,
        25 : Control25,
        48 : Control48,
    },

    encoder_map: {
        // Knobs that send Control Change messages
        14 : Control14,
        15 : Control15,
        71 : Control71,
        72 : Control72,
        73 : Control73,
        74 : Control74,
        75 : Control75,
        76 : Control76,
        77 : Control77,
        78 : Control78,
        79 : Control79,
    },
)
