( 
    note_map: {
        // All 64 pads
        92 : Pad0x7, 93 : Pad1x7, 94 : Pad2x7, 95 : Pad3x7, 96 : Pad4x7, 97 : Pad5x7, 98 : Pad6x7, 99 : Pad7x7,
        84 : Pad0x6, 85 : Pad1x6, 86 : Pad2x6, 87 : Pad3x6, 88 : Pad4x6, 89 : Pad5x6, 90 : Pad6x6, 91 : Pad7x6,
        76 : Pad0x5, 77 : Pad1x5, 78 : Pad2x5, 79 : Pad3x5, 80 : Pad4x5, 81 : Pad5x5, 82 : Pad6x5, 83 : Pad7x5,
        68 : Pad0x4, 69 : Pad1x4, 70 : Pad2x4, 71 : Pad3x4, 72 : Pad4x4, 73 : Pad5x4, 74 : Pad6x4, 75 : Pad7x4,
        60 : Pad0x3, 61 : Pad1x3, 62 : Pad2x3, 63 : Pad3x3, 64 : Pad4x3, 65 : Pad5x3, 66 : Pad6x3, 67 : Pad7x3,
        52 : Pad0x2, 53 : Pad1x2, 54 : Pad2x2, 55 : Pad3x2, 56 : Pad4x2, 57 : Pad5x2, 58 : Pad6x2, 59 : Pad7x2,
        44 : Pad0x1, 45 : Pad1x1, 46 : Pad2x1, 47 : Pad3x1, 48 : Pad4x1, 49 : Pad5x1, 50 : Pad6x1, 51 : Pad7x1,
        36 : Pad0x0, 37 : Pad1x0, 38 : Pad2x0, 39 : Pad3x0, 40 : Pad4x0, 41 : Pad5x0, 42 : Pad6x0, 43 : Pad7x0,
    },

    control_map: {
        // Buttons that send Control Change messages
        29 : Control29,
        20 : Control20,
        21 : Control21,
        24 : Control24,
        25 : Control25,
    },

    encoder_map: {
        // Knobs that send Control Change messages
        14 : Control14,
        15 : Control15,
        71 : Control71,
        72 : Control72,
        73 : Control73,
        74 : Control74,
        75 : Control75,
        76 : Control76,
        77 : Control77,
        78 : Control78,
        79 : Control79,
    },
)
